
.container .tituloregistro{
    color: aliceblue;
}

div.container{
    height: 30vw;
    margin: 0.1em;
    max-width: 99%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}